<nav class="navigation">
    <a href="/" title="Home page">Home</a>
    <a href="/inv/type/Custom" title="View our custom inventory">Custom</a>
    <a href="/inv/type/Sedan" title="View our sedan inventory">Sedan</a>
    <a href="/inv/type/SUV" title="View our SUV inventory">SUV</a>
    <a href="/inv/type/Truck" title="View our truck inventory">Truck</a>
</nav>